<div class="row  mdb-color font-weight-bolder text-white  py-2 ">
  <!--LOGOS-->
<div class="col-sm  px-5 py-2 text-center">
 
    <img src="assets/img/logo_blanco.png">    
  
    <p class="h4">Nuestra redes sociales</p> 

    <mdb-icon fab icon="facebook-square" size="2x" class="p-2"></mdb-icon>
    <mdb-icon fab icon="twitter-square" size="2x" class="p-2"></mdb-icon>
    <mdb-icon fab icon="linkedin" size="2x" class="p-2"></mdb-icon>
    <mdb-icon fab icon="mailchimp" size="2x" class="p-2"></mdb-icon>
  
</div>

<!--DATOS DE CONTACTO-->


<div class="col-sm  text-center ">
  
  <h4 class="h4">Datos</h4>
  <p>+52(442) 123 4567</p>
  <p>contacto@ituniversity</p>
  <p>Avenida Los Rosales 704 26 <br> Santiago de Queretaro Qro, Mx.</p>

</div>



</div>