<div>
  <a routerLink="/nueva-sede">
    <mdb-icon fas icon="plus"></mdb-icon>
    <label for="add-sede">Dar de alta sede</label>
  </a>
</div>

<div class="px-3">

    <table class="table table-striped">
      <thead >
        <tr class="table-dark">
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Dirección</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          
        
        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td>Puebla</td>
          <td>Cholula, Puebla</td>
          
          <td>Explanada Puebla Local, Priv Alejandra 512, 72775 </td>
          <td><mdb-icon fas icon="edit"></mdb-icon></td>
          <td><mdb-icon fas icon="trash"></mdb-icon></td>
          
        </tr>
        <tr>
          <td>Querétaro</td>
          <td>Santiago de Querétaro</td>
          
          <td>Blvd. Bernardo Quintana #155 Col. Loma Dorada</td>
          <td><mdb-icon fas icon="edit"></mdb-icon></td>
          <td><mdb-icon fas icon="trash"></mdb-icon></td>
          
         
        </tr>
        
      </tbody>
    </table>
  
  </div>
