<nav class="navbar navbar-expand-lg navbar-light px-3 fixed-top" id="mainNav" style="background-color: #DCDDE1;">
  
  <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">Softlutions</a>-->
  <img src="assets\img\logotipo.png">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item px-5 font-weight-bolder">
        <a class="nav-link js-scroll-trigger text-danger active" routerLink="">Home</a>
      </li>
      <li class="nav-item px-5 font-weight-bolder ">
        <a class="nav-link js-scroll-trigger" routerLink="/catalogo-general">Catálogo</a>
      </li>
      <li class="nav-item px-5 font-weight-bolder">
        <a class="nav-link js-scroll-trigger" routerLink="/contacto">Contacto</a>
      </li>
      <li class="nav-item px-5 font-weight-bolder">
        <a class="nav-link js-scroll-trigger" routerLink="/login">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  <router-outlet></router-outlet>
</body>

<app-pie-pagina></app-pie-pagina>
