<!-- <img src="/assets/img/fondo.jpg" alt="" class="fondo"> -->
<div class="bg">
</div>

<div class="contenedor">
    <form class="border border-light p-5">
        <p class="h4 mb-4 text-center">Iniciar Sesión</p>

        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="inputIconEx2" class="form-control" placeholder="Correo">
        </div>
        <div class="md-form">
            <i class="fas fa-lock prefix"></i>
            <input type="password" id="inputValidationEx2" class="form-control validate" placeholder="Contraseña">
        </div>

        <div class="d-flex justify-content-around mb-4">
            <div>
                <!-- Forgot password -->
                <a>¿Olvidaste tu contraseña?</a>
            </div>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Ingresar</button>
        <a routerLink="/alumno">Ir alumno</a>
        <div class="d-flex justify-content-around">
            <p for="">¿Aún no tienes cuenta? <a routerLink="/registro">Registrate!</a></p> 
        </div>
    </form>

    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      
</div>

