<nav class="navbar navbar-expand-lg navbar-light px-3" id="mainNav">
  
    <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">Softlutions</a>-->
    <img src="assets\img\logotipo.png">
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item px-5 font-weight-bolder">
          <a class="nav-link js-scroll-trigger" routerLink="./">Menú</a>
        </li>
        <li class="nav-item px-5 font-weight-bolder">
          <a class="nav-link js-scroll-trigger" routerLink="">Logout</a>
        </li>
      </ul>
    </div>
  
</nav>

<body>
  <router-outlet></router-outlet>  
</body>




