<app-nav-bar-marketer></app-nav-bar-marketer>
<a routerLink="/eventos">Volver</a>
<!--DATOS DEL EVENTO-->
<div class="container py-3 border border-dark">
  <div class="row p-3">
    <div class="col-sm">
      <div class="row py-3">
          <div class="col-sm">
            <div class="border border-dark p-2">

              <br><br><br><br><br><br>
            </div>
          </div>
          <div class="col-sm">
              Evento
          </div>
          <div class="col-sm">
            <div class="text-center ">
              <mdb-icon fab icon="facebook-square" size="2x" class="px-2"></mdb-icon>
              <mdb-icon fab icon="twitter-square" size="2x" class="px-2"></mdb-icon>
              <mdb-icon fab icon="linkedin" size="2x" class="px-2"></mdb-icon>
              <mdb-icon fab icon="mailchimp" size="2x " class="px-2"></mdb-icon>
            </div>
          </div>
        
      </div>
      <div class="row py-3">

      
      <div class="col-sm">
          
        
      </div>
      <div class="col-sm">
          Fecha de apertura: XX-XX-XX      
      </div>
      <div class="col-sm">
          Fecha de cierre: XX-XX-XX
      </div>
    </div>
    <div class="row py-3">
      <div class="col-sm">
        Capacidad:  xxxxxxxxxxxx
      </div>
      <div class="col-sm">
        Sede:  xxxxxxxxxxxxxx
      </div>
    </div>
      <div class="row py-3">
          <div class="col-sm">
            Instructor: xxxxxxxxxxx
          </div>
      </div>
      <div class="row p-2">
        <div class="border border-dark p-2">
          Descripcion: <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odit odio minus quod expedita soluta cupiditate tempore! Consequatur, harum ipsam adipisci, tempora eligendi, voluptates quae aperiam sint ducimus sunt iste.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad adipisci ab cum voluptatem quo deserunt id temporibus cumque. Pariatur tenetur assumenda, unde doloremque maiores mollitia odio minima esse eaque commodi.
        </div> 
      </div>
  </div>

  <div class="col-sm">
  </div>
  
  <!--LISTADO DE ALUMNOS-->


    <!--<div class="col-sm">

      <table class="table table-striped">
          <thead >
              <tr class="table-dark">
                <th scope="col">Nombre Alumno</th>
                <th scope="col">Correo</th>
                
                
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>Alumno1</td>
                <td>alumno1@hotmail.com</td>
              </tr>
              <tr>
                <td>Alumno2</td>
                <td>alumno2@hotmail.com</td>
              </tr>
              <tr>
                <td>Alumno3</td>
                <td>alumno3@hotmail.com</td>
              </tr>
          </tbody>
      </table>
     
    </div> -->
  </div>
</div>