<div>
  <p class="h4">Cursos</p><br>
  <a routerLink="/nuevo-curso">
    <mdb-icon fas icon="plus"></mdb-icon>
    <label for="add-user">Agregar nuevo</label>
  </a><br>
</div>


<div class="px-3">

    <table class="table table-striped">
      <thead >
        <tr class="table-dark">
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Sede</th>
          <th scope="col">Duración</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Descripción</th>  
          <th scope="col">Examen de certificación</th>           
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Ver eventos</th>
          
        
        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td>Java EE</td>
          <td>20,000 MXN</td>
          <td>Puebla</td>
          <td>3 meses</td>
          <td>En línea</td>
          <td>Identifica al experto en desarrollo web que tiene fuerte conocimiento en JSP, Servlets, Modelo MVC, Deployment descriptor etc</td>
          <td>Java Professional Programmer <br> Web Component Developer </td>
          <td><mdb-icon fas icon="edit"></mdb-icon></td>
          <td><mdb-icon fas icon="trash"></mdb-icon></td>
          <td><mdb-icon fas icon="calendar-check"></mdb-icon></td>
          
        </tr>
        <tr>
         
          <td>Oracle Database Certified Associate</td>
          <td>25,000 MXN</td>
          <td>Querétaro</td>
          <td>4 meses</td>
          <td>Presencial</td>
          <td>Este curso enseña a los estudiantes a analizar escenarios empresariales complejos, a diseñar y crear modelos de datos, y a crear bases de datos con SQL.</td>
          <td>1Z0-071 Oracle Database SQL</td>
          <td><mdb-icon fas icon="edit"></mdb-icon></td>
          <td><mdb-icon fas icon="trash"></mdb-icon></td>
          <td><mdb-icon fas icon="calendar-check"></mdb-icon></td>
          
        </tr>
        
      </tbody>
    </table>
  
  </div>

