<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-10 col-xl-8 col-md-12 m-auto">
    
        <table class="table table-striped">
          <tr>
            <td>
              <a routerLink="./">
                <mdb-icon fas icon="book" size="8x" class="p-2"></mdb-icon><br>
                <label for="Evaluaciones">Evaluaciones</label>
              </a>
            </td>
            <td>
              <a routerLink="./cursos">
                <mdb-icon fas icon="clipboard-list" size="8x" class="p-2"></mdb-icon><br>
                <label for="Cursos">Cursos</label>
              </a>
            </td>
            <td>
                <a routerLink="./">
                  <mdb-icon fas icon="calendar-check" size="8x" class="p-2"></mdb-icon><br>
                  <label for="Eventos">Eventos</label>
                </a>
            </td>
            <td>
                <a routerLink="./alumnos">
                  <mdb-icon fas icon="address-book" size="8x" class="p-2"></mdb-icon><br>
                  <label>Alumnos</label>
                </a>
            </td>
          </tr>
          <tr>
            <td>
                <a routerLink="./promociones">
                  <mdb-icon fas icon="percentage"size="8x" class="p-2"></mdb-icon><br>
                  <label for="Promociones">Promociones</label>
                </a>
            </td>
            <td>
                <a routerLink="./usuarios">
                  <mdb-icon fas icon="user-alt" size="8x" class="p-2"></mdb-icon><br>
                  <label for="Usuarios">Usuarios</label>
                </a>
            </td>
            <td>
                <a routerLink="./">
                  <mdb-icon fas icon="chalkboard-teacher" size="8x" class="p-2"></mdb-icon><br>
                  <label for="Instructores">Instructores</label>
                </a>
            </td>
            <td>
                <a routerLink="./sedes">
                  <mdb-icon fas icon="building" size="8x" class="p-2"></mdb-icon><br>
                  <label for="Sedes">Sedes</label>
                </a>
            </td>
          </tr>
        </table>
      
    </div>
  </div>
</div>