<div>
    <p class="h4">Usuarios</p><br>
    <a routerLink="/nuevo-usuario">
      <mdb-icon fas icon="plus"></mdb-icon>
      <label for="add-user">Agregar nuevo</label>
    </a><br>
  </div>
  
  <div class="px-3">
  
      <table class="table table-striped">
        <thead >
          <tr class="table-dark">
            <th scope="col">Nombre</th>
            <th scope="col">Tipo Usuario</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            
          
          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td>Edgardo Balderas Morales</td>
            <td>Comercial</td>
            <td>garo@gmail.com</td>
            <td>************ </td>
            <td><mdb-icon fas icon="edit"></mdb-icon></td>
            <td><mdb-icon fas icon="trash"></mdb-icon></td>
            
          </tr>
          <tr>
            <td>Jorge Luis Ruiz</td>
            <td>Marketer</td> 
            <td>george@gmail.com</td>  
            <td>*********</td>
            <td><mdb-icon fas icon="edit"></mdb-icon></td>
            <td><mdb-icon fas icon="trash"></mdb-icon></td>
          </tr>
          <tr>
              <td>Carla Ivette Manduano</td>
              <td>Instructor</td>  
              <td>carla@gmail.com</td> 
              <td>*******</td>
              <td><mdb-icon fas icon="edit"></mdb-icon></td>
              <td><mdb-icon fas icon="trash"></mdb-icon></td>
            </tr>
          
        </tbody>
      </table>
    
    </div>
  