<div class="contenedor-datos">
  <br>
  <h3>Datos de la Empresa</h3>
  <p>+XX (XXX) XXX XXXX</p>
  <p>contacto@ituniversity.com.mx</p>
  <p>Avenida San Martir 168 35 <br> Santiago de Querétaro, Qro, Mx</p>
  <br><br>
  <h3>Siguenos en:</h3>
  <p>ICONOS DE REDES SOCIALES</p>
</div>

<div class="card" style="width: 40rem; float:right; margin-right: 5rem;">
    <h5 class="card-header" style="text-align: center">Contactanos</h5>
    <div class="card-body">
      <form>
          <div class="form-group">
              <label for="exampleFormControlInput1">Nombre</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          <div class="form-group">
              <label for="exampleFormControlInput1">Correo</label>
               <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          <div class="form-group">
                <label for="exampleFormControlTextarea1">Ingresa tu mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
          <button type="submit" class="btn btn-primary" style="float: right">Enviar</button>
      </form>
    </div>
  </div>