<div>
  <div>
    <a routerLink="../nueva-promo">
      <mdb-icon fas icon="plus" size="2x" class="p-2"></mdb-icon>
      <label for="add-promo">Dar de alta promoción</label>
    </a>
  </div>

  <table class="table table-striped">
    <thead >
      <tr class="table-dark">
        <th scope="col">Código</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Duración</th>
        <th scope="col">Porcentaje</th>
        <th scope="col">Bono</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>12345</td>
        <td>20% de descuento en pago de contado en efectivo</td>
        
        <td>01/02/2019</td>
        <td>20</td>
        <td>-</td>
        <td><mdb-icon fas icon="edit"></mdb-icon></td>
        <td><mdb-icon fas icon="trash"></mdb-icon></td>
      </tr>
      <tr>
          <td>56789</td>
          <td>Bono de $200 para segundo curso</td>
          
          <td>10 meses</td>
          <td></td>
          <td>200</td>
          <td><mdb-icon fas icon="edit"></mdb-icon></td>
          <td><mdb-icon fas icon="trash"></mdb-icon></td>
        </tr>
      
    </tbody>
  </table>

</div>