<!-- SLIDER -->
<!-- <div class="container">
  
  <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/slider/home_slider_1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/slider/django-logo-negative.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/img/slider/laravel.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div> -->


<!-- SOBRE NOSOTROS -->
<div class="card" style="width: 70%; margin-left: 15%; margin-top: 15vh;">
    <div class="card-body" style="text-align: center;">
      <h3>Sobre Nosotros</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo et totam rem voluptatum commodi minima soluta? Nobis officiis eum facere accusantium quasi! Quidem debitis autem eveniet aspernatur. Tenetur, voluptatibus! Rerum!</p>
    </div>
</div>
<br><br>

<!-- HISTORIA -->
<div class="card" style="width: 70%; margin-left: 15%;">
    <div class="card-body" style="text-align: center;">
      <h3>Historia</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo et totam rem voluptatum commodi minima soluta? Nobis officiis eum facere accusantium quasi! Quidem debitis autem eveniet aspernatur. Tenetur, voluptatibus! Rerum!</p>
    </div>
</div>
<br><br>

<!-- MISION -->
<div style="width: 90%; margin-left: 5%;">
    <div class="card" style="width: 20rem; margin-left: 10rem; float: left;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5>Misión</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
<!-- VISION -->
      <div class="card" style="width: 20rem; margin-right: 10rem; float: right;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5>Visión</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
</div>