<!-- SLIDER -->
<!-- <div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets\img\slider\img-1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->

<!-- SOBRE NOSOTROS -->
<div class="card" style="width: 70%; margin-left: 15%; margin-top: 15vh;">
    <div class="card-body" style="text-align: center;">
      <h3>Sobre Nosotros</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo et totam rem voluptatum commodi minima soluta? Nobis officiis eum facere accusantium quasi! Quidem debitis autem eveniet aspernatur. Tenetur, voluptatibus! Rerum!</p>
    </div>
</div>
<br><br>

<!-- HISTORIA -->
<div class="card" style="width: 70%; margin-left: 15%;">
    <div class="card-body" style="text-align: center;">
      <h3>Historia</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo et totam rem voluptatum commodi minima soluta? Nobis officiis eum facere accusantium quasi! Quidem debitis autem eveniet aspernatur. Tenetur, voluptatibus! Rerum!</p>
    </div>
</div>
<br><br>

<!-- MISION -->
<div style="width: 90%; margin-left: 5%;">
    <div class="card" style="width: 20rem; margin-left: 10rem; float: left;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5>Misión</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
<!-- VISION -->
      <div class="card" style="width: 20rem; margin-right: 10rem; float: right;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5>Visión</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
</div>



<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Ver detalles</button>
<a (click)="basicModal.show()">Ver</a>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Curso 1</h4>
      </div>
      <div class="modal-body">
        
        <div class="row"> 
          <div class="col-2 border">
              <div class="border border-dark p-2">

                  <br><br><br><br>
                </div>
  
          </div>

          <div class="col-8 border">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad unde nemo tenetur. Commodi, magni. Atque, cupiditate ex cum ipsam inventore excepturi repudiandae perferendis et ipsum illum consequatur ipsa? Ex?</p>
            <p class="h4"> <span class="badge badge-primary">Horario: </span> </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus aliquid id vitae culpa cupiditate illum exercitationem porro officia obcaecati, minus hic! Non magnam voluptatibus at placeat dolores, exercitationem tempore.</p>
            <p class="h4"> <span class="badge badge-primary">Temario: </span> </p>
            <ul>
              <li>lorem</li>
              <li>lorem</li>
              <li>lorem</li>
            </ul>

            <p class="h4"> <span class="badge badge-primary">Costo: </span> </p>
            <p>$XXXXX</p>
          </div>  
        </div>

      </div>
      <div class="modal-footer">
        
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Mas informacion</button>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cerrar</button>
      </div>
    </div>
  </div>
</div>