.contenedor-cursos{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    margin-top: 15vh;
    height: 100%;
}

.card{
    width: 18rem;
    float: left; 
    margin-left: 6rem;
    margin-top: 2rem;
}