<!-- Footer -->
    
      <!--<div class=" bg-primary">
        <div class="row">
          <div class="col-m-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">2215 John Daniel Drive
              <br>Clark, MO 65243</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Freelancer</h4>
            <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
              <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
          </div>
        </div>
      </div>
  
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>-->



    <div class="row  mdb-color font-weight-bolder text-white  py-2 ">
        <!--LOGOS-->
      <div class="col-sm  px-5 py-2 text-center">
       
          <img src="assets\img\logo_blanco.png">    
        <p>   </p>
          <p class="h4">Nuestra redes sociales</p> 
          <mdb-icon fab icon="facebook-square" size="2x" class="p-2"></mdb-icon>
          <mdb-icon fab icon="twitter-square" size="2x" class="p-2"></mdb-icon>
          <mdb-icon fab icon="linkedin" size="2x" class="p-2"></mdb-icon>
          <mdb-icon fab icon="mailchimp" size="2x" class="p-2"></mdb-icon>
        
      </div>

      <!--DATOS DE CONTACTO-->

      
      <div class="col-sm  text-center ">
        
        <h4 class="h4">Datos</h4>
        <p>+52(442) 123 4567</p>
        <p>contacto@ituniversity</p>
        <p>Avenida Los Rosales 704 26 <br> Santiago de Queretaro Qro, Mx.</p>

      </div>
      

     
    </div>